.banner {
	margin-bottom: 50px;
	box-sizing: border-box;
	float: left;
	margin-right: 30px;
	position: relative;
}

.banner__loadText {
	position: absolute;
	font-size: 12px;
	top: 0%;
	margin-top: -5px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: 600;
	z-index: 2;
	opacity: 0;
}

.banner__button {
	position: absolute;
	bottom: -43px;
	display: block;
	z-index: 1;
	width: 39px;
	height: 36px;
	border-radius: 50%;
	opacity: 0;
}

.banner__button::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 10px;
	bottom: 100%;
	left: 0;
	background: transparent;
	transition-timing-function: ease;
}


.banner__button {
	transition: all .2s ease !important;
}

button.banner__button.ui.button {
	border-radius: 50%;
}

.banner__button:nth-child(2)::after {
	position: absolute;
	content: '';
	width: 5px;
	height: 100%;
	top: 0;
	right: -5px;
}

.banner__delete {
	transition: all .4s ease !important;

	left: 42px;	
}

.banner__img {
	position: relative;
	box-sizing: border-box;
}

.banner input[type="file"] {
	display: none;
}

.banner__file {
	/* position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0; */
	cursor: pointer;
}

.banner__img-inner {
	position: relative;
	background-position: center;
	background-color: rgb(241, 238, 238);
	background-repeat: no-repeat;
	z-index: 2;
	box-sizing: border-box;
}

.banner:hover  .banner__button{
	opacity: 1;
}

.banner__file:hover::after {
	opacity: 1;
}

.banner__file:hover .banner__loadText {
	opacity: 1;
	transform: translateY(-50%);
}




/* РСЯ тип - 1 */
.banner__rsya-1 {
	height: 120px;
	width: 330px;
	border-radius: 4px;
	border: 1px solid rgb(202, 202, 202);
}
.banner__rsya-1 .banner__img {
	width: 130px;
	height: 120px;
}

.banner__rsya-1 .banner__img-inner {
	width: 130px;
	height: 118px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.banner__rsya-1 .banner__inner {
	display: flex;
}

.banner__rsya-1 .banner__info {
	padding: 15px;
}

.banner__rsya-1 .banner__title {
	font-weight: 600;
	font-size: 16px;
}

.banner__rsya-1 .banner__url {
	position: absolute;
	bottom: 15px;
	padding: 2px 10px 4px 10px;
	font-size: 12px;
	border: 1px solid #000;
	border-radius: 3px;
}

/* РСЯ тип - 2 */

.banner__rsya-2 {
	width: 355px;
	height: 290px;
	border: 1px solid rgba(0, 0, 0, 0.089);
}

.banner__rsya-2 .banner__img {
	width: 355px;
	height: 290px;
}

.banner__rsya-2 .banner__img-inner {
	width: 355px;
	height: 290px;
}

.banner__url {
	position: relative;
	z-index: 2;
}

.banner__info {
	position: relative;
}

.banner__rsya-2 .banner__inner {
	position: relative;
}

.banner__rsya-2 .banner__title {
	position: relative;
	z-index: 2;
	font-size: 14px;
	font-weight: 500;
	padding: 5px;
	max-width: calc(100% - 40px);
	display: inline-block;
	line-height: 28px;	
}

.banner__rsya-2 .banner__title span {
	box-shadow: 6px 0 0 #fff, -6px 0 0 #fff;
	background: #fff;
	padding: 2px;
	line-height: 25px;
	border-radius: 3px;
}

.banner__rsya-2 .banner__info {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 20px;
}

.banner__rsya-2 .banner__url {
	position: absolute;
	bottom: 20px;
	background: black;
	color: #fff;
	padding: 2px 15px 4px 15px;
	border-radius: 20px;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
	font-size: 15px;
}

/* РСЯ тип - 3 */

.banner__rsya-3 {
	box-sizing: border-box;
	width: 340px;
	height: 295px;
	border: 1px solid rgb(204, 204, 204);
}

.banner__rsya-3 .banner__inner {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.banner__rsya-3 .banner__img {
	order: 2;
	width: 340px;
	height: 200px;
}

.banner__rsya-3 .banner__img-inner {
	width: 338px;
	height: 198px;
}

.banner__rsya-3 .banner__info {
	order: 1;
	height: 95px;
	padding: 15px;
}

.banner__rsya-3 .banner__title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.banner__rsya-3 .banner__url {
	color: rgb(1, 112, 1);
}

/* РСЯ тип - 4 */
.banner__rsya-4 {
	width: 370px;
	/* height: 140px; */
	border: 1px solid rgb(204, 204, 204);
	box-sizing: border-box;	
}

.banner__rsya-4 .banner__inner {
	padding: 10px;
	display: flex;
}

.banner__rsya-4 .banner__img {
	width: 90px;
	margin-right: 10px;
	flex-shrink: 0;
}

.banner__rsya-4 .banner__img-inner {
	width: 90px;
	height: 90px;
}

.banner__rsya-4 img {
	position: relative;
	z-index: 2;
	width: 100%;
	background-color: rgb(241, 238, 238)
}

.banner__rsya-4 .banner__title {
	color: #4F73BC;
	font-size: 18px;
	font-weight: 600;
	text-decoration: underline;
	margin-bottom: 2px;
}

.banner__rsya-4 .banner__text {
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 4px;
}

.banner__rsya-4 .banner__url {
	font-weight: 600;
	color: #4F73BC;	
}

.banner__rsya-4 .banner__file {
	left: 0;
}

/* РСЯ тип - 5*/ 
.banner__rsya-5 .banner__file {
	left: 0;
}

.banner__rsya-5 {
	width: 645px;
	border: 1px solid rgb(204, 204, 204);
	box-sizing: border-box;	
}

.banner__rsya-5 .banner__inner {
	display: flex;
}

.banner__rsya-5 .banner__img {
	width: 140px;
}

.banner__rsya-5 .banner__img img {
	position: relative;
	background-color: rgb(241, 238, 238);
	z-index: 2;
	width: 100%;
}

.banner__rsya-5 .banner__inner {
	padding: 10px 10px 10px 0;
}

.banner__rsya-5 .banner__img {
	margin-right: 40px;
	flex-shrink: 0;
}

.banner__rsya-5 .banner__img-inner {
	height: 90px;
}

.banner__rsya-5 .banner__title {
	font-size: 18px;
	color: #088DDC;
	font-weight: 600;
	margin-bottom: 4px;
}

.banner__rsya-5 .banner__text {
	font-size: 15px;
	margin-bottom: 7px;
}

.banner__rsya-5 .banner__url {
	font-weight: 500;
	color: rgb(73, 170, 52);
	font-size: 16px;
}

/* РСЯ тип - 6*/
.banner__rsya-6 {
	width: 240px;
	border: 1px solid rgb(204, 204, 204);
	box-sizing: border-box;	
} 

.banner__rsya-6 .banner__inner {
	display: flex;
	padding: 10px;
}

.banner__rsya-6 .banner__img {
	max-width: 100px;
	margin-right: 10px;
	flex-shrink: 1;
	width: auto;
}

.banner__rsya-6 .banner__img img {
	width: 100%;
}

.banner__rsya-6 .banner__img-inner {
	height: 100px;
	width: 100px;
}

.banner__rsya-6 .banner__text {
	font-size: 13px;
	font-weight: 600;
}

.banner__rsya-6 .banner__url {
	padding: 0px 10px 10px 10px;
	color: #999;
	font-size: 12px;
	font-weight: 600;
}

.banner__rsya-6 .banner__title {
	padding: 10px 10px 0 10px;
	text-decoration: underline;
	color: #088DDC;
	font-weight: 600;
}

.banner__rsya-6 .banner__info {
	flex-shrink: 1;
}




@keyframes translateUp {
	0% {
		transform: translateY(10px);
	}

	100% {
		transform: translateX(0);
	}
}